RewriteEngine On

RewriteRule    ^$    public/    [L]
RewriteRule    (.*) public/$1    [L]


# enable PHP error logging
php_flag log_errors On
php_value error_log "/home/admin/web/benson.wallex.me/public_html/errors.log"

# secure .htaccess file
<Files .htaccess>
    Order allow,deny
    Deny from all
</Files>

# secure error log
<Files errors.log>
    Order allow,deny
    Deny from all
</Files>
