.table__item-desc {
  width: 40%;
}

.table__qty {
  width: 15%;
}

.table__item-no {
  width: 3%;
}

.table__add-btn-heading {
  width: 45px;
}

.table .delete-bill-item {
  cursor: pointer;
}

.table > tfoot > tr {
  border-bottom: hidden;
}

.table-bordered tfoot td {
  border: 1px solid transparent;
  text-align: right;
  padding: 3px;
}

.table-bordered tfoot .total-words {
  width: 30%;
}

.form-buttons {
  text-align: right;
  clear: both;
  padding: 10px 0px;
}

