.timeline-spacer {
  margin-top: 2.5em;
}

.timeline-item {
  padding: 3em 2em 2em;
  position: relative;
  color: rgba(0, 0, 0, 0.7);
  border-left: 4px solid #ccd5db;
}

.timeline-item p {
  font-size: 1rem;
}

.timeline-item::before {
  content: attr(date-is);
  position: absolute;
  left: 2em;
  top: 1em;
  display: block;
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  font-size: 0.9rem;
  color: #9a9a9a;
}

.timeline-item::after {
  width: 20px;
  height: 20px;
  display: block;
  top: 1em;
  position: absolute;
  left: -12px;
  border-radius: 10px;
  content: "";
  border: 4px solid #FF6B6B;
  background: #FF6B6B;
  transition: background 0.2s ease-in;
}

.timeline-item:last-child {
  -o-border-image: linear-gradient(to bottom, #ccd5db 60%, rgba(204, 213, 219, 0)) 1 100%;
     border-image: linear-gradient(to bottom, #ccd5db 60%, rgba(204, 213, 219, 0)) 1 100%;
}

.timeline-item:hover::after {
  background: #ffffff;
}

@media only screen and (max-width: 767px) {
  .timeline-item .bottom-sm {
    position: absolute;
    bottom: 0;
  }
}

